.custom-bordered-bottom {
    border-bottom: 1px solid #D5D5D5;
  }
  
  .customPadding {
    padding-left: 18px;
    padding-right: 0px;
    padding-bottom: 5px;
  }
  
  .navbar-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .custom-color-white {
    color: white;
    cursor: pointer;
  }
  
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
  
  .content {
      padding: 10px 14px;
      position: relative;
  }

  .img-circle {
    border-radius: 0% !important;
}

input[type=checkbox], input[type=radio] {
  margin-top: -9px !important;
  line-height: normal;
}