<div class="panel-group smart-accordion-default" id="Div1" style="margin-top: 10px;">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-lg-7 col-md-4 col-sm-4 col-xs-12 padLeft13 ">
          <h1>
            <i class="fa fw fa-table" style="margin-right:5px"></i>All {{tableHeader}}</h1>
        </div>
        <div class="col-lg-5 col-md-8 col-sm-8 col-xs-12">
          <div class="row">
            <div class="custom-padding-searchBox col-lg-8 col-md-8 col-sm-7 col-xs-11">
              <div id="Div3" class="custom-dataTables_filter">
                <label>
                  <span class="input-group-addon">
                    <i class="glyphicon glyphicon-search"></i>
                  </span>
                  <input type="search" #gb class="form-control" aria-controls="dt_basic">
                </label>
              </div>
            </div>
            <div class="custom-padding-6 col-lg-4 col-md-4 col-sm-4 col-xs-6">
              <a class="btn btn-primary" (click)="addNew()">
                <i class="fa fa-plus"></i>
                Add New {{addFunctionName}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
